<div class="contenedor">
	<h1 >AGREGAR NUEVA TAREA</h1>
	  <mat-form-field>
		<input matInput [(ngModel)]="tareaselect.id"  placeholder="Ingrese el Id">
	  </mat-form-field>
	
	  <mat-form-field>
		<input matInput [(ngModel)]="tareaselect.titulo" type="text" placeholder="Ingrese un Titulo para la Tarea">
	  </mat-form-field>
	
	  <mat-form-field>
		<input matInput [(ngModel)]="tareaselect.minutos"  placeholder="Ingrese cantidad de Minutos">
	  </mat-form-field>
	
	  <button mat-raised-button color="primary" (click)="agregar()">Agregar</button>
	
	</div>
	<br>
	<br>
	<br>
  
	<div class="container">
	  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	  <h1>TAREAS - PRUEBA FASER</h1>
  
  <table mat-table   [dataSource]="dataSource" class="mat-elevation-z8" matSort #tabla1>
  
	  <ng-container matColumnDef="id">
		<th mat-header-cell *matHeaderCellDef> Id </th>
		<td mat-cell *matCellDef="let tarea"> {{tarea.id}} </td>
	  </ng-container>
	
	  <ng-container matColumnDef="titulo">
		<th mat-header-cell *matHeaderCellDef> Titulo </th>
		<td mat-cell *matCellDef="let tarea"> {{tarea.titulo}} </td>
	  </ng-container>
	
	  <ng-container matColumnDef="minutos">
		<th mat-header-cell *matHeaderCellDef  mat-sort-header> Minutos </th>
		<td mat-cell *matCellDef="let tarea"> ({{tarea.minutos}} minutos) <a href="#" (click)="orden('minutos')"></a></td>
  
	  </ng-container>
	
	  
	  
  
	  <ng-container matColumnDef="borrar">
		<th mat-header-cell *matHeaderCellDef> Eliminar </th>
		<td mat-cell *matCellDef="let j = index;">
		  <button mat-raised-button class="btn btn-danger" focusable="false" (click)="borrarFila(j)">
			Delete
		  </button>
		</td>
	  </ng-container>
  
  
  
	  
	
	  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
	  <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
	</table>
  
	</div>
